
body {
    font-family: 'Open Sans', sans-serif;
}

.entity-list {
    max-height: 600px;
    overflow-y: scroll;
}


#map {
    width: 400px;
    height: 600px;
}

#map .region {
    fill: #ddd;
    stroke: #bbb;
}

#map .concession {
    fill: rgba(180, 180, 180, 150);
}

#map .place {
    fill: #333;
}

#map .place-label {
    font-size: 0.9em;
    font-weight: 300;
    fill: #333;
}
